.Intro{
    margin-top: 1rem;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

#intro{

    text-align: center;
    font-size:2rem;
}

#Me{
    width:200px;
}


@media only screen and (min-width: 800px){
    .Intro{
    margin-top: 1rem;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

#intro{

    text-align: center;
    font-size:2rem;
}
}
