#webimg {
    width: 20rem;
}

#mine{
    width: 20rem;
}

aside{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

article {
    width: 20rem;
}

@media only screen and (min-width: 800px){
    aside{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
    
}